
.public-background{
  background: radial-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 1));
  /* background: gray; */
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 0;

}



.public-background-text{
  position: absolute;

  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.public-background-text::before{
  content: '<html lang="en"><head> <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <meta name="theme-color" content="#000000"> <meta name="description" content=""> <meta name="author" content=""> <title>WebTrack</title> <script src="https://unpkg.com/react@15/dist/react.js"></script> <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script> </head> <body> <noscript> You need to enable JavaScript to run this app. </noscript> <div id="root"><div><div class="public-main"><div class="public-background"></div><div class="public-background-text" style="width: 446px; height: 904px;"></div><div class="container" style="display: flex; justify-content: center; width: 446px; height: 904px;"><div class="login-wrapper"><h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa <strong>strong</strong>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede <a class="external ext" href="#">link</a> mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p><h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1><h2>Aenean commodo ligula eget dolor aenean massa</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><h2>Aenean commodo ligula eget dolor aenean massa</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><ul> <li>Lorem ipsum dolor sit amet consectetuer.</li><li>Aenean commodo ligula eget dolor.</li><li>Aenean massa cum sociis natoque penatibus.</li></ul><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><form action="#" method="post"> <fieldset> <label for="name">Name:</label> <input type="text" id="name" placeholder="Enter your full name"/> <label for="email">Email:</label> <input type="email" id="email" placeholder="Enter your email address"/> <label for="message">Message:</label> <textarea id="message" placeholder="Whats on your mind?"></textarea> <input type="submit" value="Send message"/> </fieldset></form><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><table class="data"> <tr> <th>Entry Header 1</th> <th>Entry Header 2</th> <th>Entry Header 3</th> <th>Entry Header 4</th> </tr><tr> <td>Entry First Line 1</td><td>Entry First Line 2</td><td>Entry First Line 3</td><td>Entry First Line 4</td></tr><tr> <td>Entry Line 1</td><td>Entry Line 2</td><td>Entry Line 3</td><td>Entry Line 4</td></tr><tr> <td>Entry Last Line 1</td><td>Entry Last Line 2</td><td>Entry Last Line 3</td><td>Entry Last Line 4</td></tr></table><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><form action="#" method="post"> <fieldset> <label for="name">Name:</label> <input type="text" id="name" placeholder="Enter your full name"/> <label for="email">Email:</label> <input type="email" id="email" placeholder="Enter your email address"/> <label for="message">Message:</label> <textarea id="message" placeholder="Whats on your mind?"></textarea> <input type="submit" value="Send message"/> </fieldset></form><button type="button" class="btn btn-lg btn-primary btn-block">Login</button></fieldset></div></div></div></div></div></div></div></div><script type="text/javascript" src="/static/js/bundle.js"></script></body></html><html lang="en"><head> <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <meta name="theme-color" content="#000000"> <meta name="description" content=""> <meta name="author" content=""> <title>WebTrack</title> <script src="https://unpkg.com/react@15/dist/react.js"></script> <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script> </head> <body> <noscript> You need to enable JavaScript to run this app. </noscript> <div id="root"><div><div class="public-main"><div class="public-background"></div><div class="public-background-text" style="width: 446px; height: 904px;"></div><div class="container" style="display: flex; justify-content: center; width: 446px; height: 904px;"><div class="login-wrapper"><h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa <strong>strong</strong>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede <a class="external ext" href="#">link</a> mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p><h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1><h2>Aenean commodo ligula eget dolor aenean massa</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><h2>Aenean commodo ligula eget dolor aenean massa</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><ul> <li>Lorem ipsum dolor sit amet consectetuer.</li><li>Aenean commodo ligula eget dolor.</li><li>Aenean massa cum sociis natoque penatibus.</li></ul><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><form action="#" method="post"> <fieldset> <label for="name">Name:</label> <input type="text" id="name" placeholder="Enter your full name"/> <label for="email">Email:</label> <input type="email" id="email" placeholder="Enter your email address"/> <label for="message">Message:</label> <textarea id="message" placeholder="Whats on your mind?"></textarea> <input type="submit" value="Send message"/> </fieldset></form><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><table class="data"> <tr> <th>Entry Header 1</th> <th>Entry Header 2</th> <th>Entry Header 3</th> <th>Entry Header 4</th> </tr><tr> <td>Entry First Line 1</td><td>Entry First Line 2</td><td>Entry First Line 3</td><td>Entry First Line 4</td></tr><tr> <td>Entry Line 1</td><td>Entry Line 2</td><td>Entry Line 3</td><td>Entry Line 4</td></tr><tr> <td>Entry Last Line 1</td><td>Entry Last Line 2</td><td>Entry Last Line 3</td><td>Entry Last Line 4</td></tr></table><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><form action="#" method="post"> <fieldset> <label for="name">Name:</label> <input type="text" id="name" placeholder="Enter your full name"/> <label for="email">Email:</label> <input type="email" id="email" placeholder="Enter your email address"/> <label for="message">Message:</label> <textarea id="message" placeholder="Whats on your mind?"></textarea> <input type="submit" value="Send message"/> </fieldset></form><button type="button" class="btn btn-lg btn-primary btn-block">Login</button></fieldset></div></div></div></div></div></div></div></div><script type="text/javascript" src="/static/js/bundle.js"></script></body></html><html lang="en"><head> <meta charset="utf-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <meta name="theme-color" content="#000000"> <meta name="description" content=""> <meta name="author" content=""> <title>WebTrack</title> <script src="https://unpkg.com/react@15/dist/react.js"></script> <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script> </head> <body> <noscript> You need to enable JavaScript to run this app. </noscript> <div id="root"><div><div class="public-main"><div class="public-background"></div><div class="public-background-text" style="width: 446px; height: 904px;"></div><div class="container" style="display: flex; justify-content: center; width: 446px; height: 904px;"><div class="login-wrapper"><h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa <strong>strong</strong>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede <a class="external ext" href="#">link</a> mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p><h1>Lorem ipsum dolor sit amet consectetuer adipiscing elit</h1><h2>Aenean commodo ligula eget dolor aenean massa</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><h2>Aenean commodo ligula eget dolor aenean massa</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><ul> <li>Lorem ipsum dolor sit amet consectetuer.</li><li>Aenean commodo ligula eget dolor.</li><li>Aenean massa cum sociis natoque penatibus.</li></ul><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><form action="#" method="post"> <fieldset> <label for="name">Name:</label> <input type="text" id="name" placeholder="Enter your full name"/> <label for="email">Email:</label> <input type="email" id="email" placeholder="Enter your email address"/> <label for="message">Message:</label> <textarea id="message" placeholder="Whats on your mind?"></textarea> <input type="submit" value="Send message"/> </fieldset></form><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><table class="data"> <tr> <th>Entry Header 1</th> <th>Entry Header 2</th> <th>Entry Header 3</th> <th>Entry Header 4</th> </tr><tr> <td>Entry First Line 1</td><td>Entry First Line 2</td><td>Entry First Line 3</td><td>Entry First Line 4</td></tr><tr> <td>Entry Line 1</td><td>Entry Line 2</td><td>Entry Line 3</td><td>Entry Line 4</td></tr><tr> <td>Entry Last Line 1</td><td>Entry Last Line 2</td><td>Entry Last Line 3</td><td>Entry Last Line 4</td></tr></table><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p><form action="#" method="post"> <fieldset> <label for="name">Name:</label> <input type="text" id="name" placeholder="Enter your full name"/> <label for="email">Email:</label> <input type="email" id="email" placeholder="Enter your email address"/> <label for="message">Message:</label> <textarea id="message" placeholder="Whats on your mind?"></textarea> <input type="submit" value="Send message"/> </fieldset></form><button type="button" class="btn btn-lg btn-primary btn-block">Login</button></fieldset></div></div></div></div></div></div></div></div><script type="text/javascript" src="/static/js/bundle.js"></script></body></html>';
  display: inline-table;
}


.container{
  /* transform: skew(0deg, 25deg); */
  z-index: 100;
}




.login-wrapper{
  /* border: 2px solid black; */
  padding: 30px;
  width: 600px;
  position: relative;
  /* margin-top: 5%; */

}

.arrow-wrapper{
  /* border: 2px solid black; */
  padding: 50px;
  display: flex;
  flex-direction: column;

}

.login-wrapper .arrow{
  position: absolute;
  width: 100px;
}

.login-wrapper #bottom_left.arrow{
  bottom: 33px;
  transform: rotate(-90deg);
}

.login-wrapper #bottom_right.arrow{
  bottom: 32px;
  right: 32px;
  transform: rotate(180deg);
}

.login-wrapper #top_right.arrow{
  margin-top: 3px;
  right: 30px;
  transform: rotate(90deg);
}

#track{
  width: 80%;
  margin: 0 auto;
  position: absolute;

  z-index: 0;
  left: 0;
  right: 0;
  margin-top: -10%;

}

.public-panel{
  margin-top: 80%;
  z-index: 100;
}

.transparent{
  background: transparent;
  border: 0;
  box-shadow: none;
}


#title{
  position: absolute;
  left: 0;
  right: 0;

  text-align: center;
  margin-top: 45%;
  font-size: 4em;
  font-weight: 700;
}

#title:before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(191, 191, 191, 0.8);
    z-index: -1;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}

#title.big{
  font-size: 10em;
  top: -0.5em;
}

#title.big:before {
  width: 0%;
}

@media only screen and (max-width: 600px) {
    .public-background{
      background: radial-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.75), rgb(255, 255, 255, 1));
    }

    .login-wrapper{
      padding: 5px;
      padding-top: 5%;
    }

    .login-wrapper #top_right.arrow,
    .login-wrapper #bottom_right.arrow{
      right: 0
    }

    .login-wrapper .arrow {
      width: 75px;
    }

    #title{
      margin-top: 55%;
    }

    .arrow-wrapper{
      padding: 10px;
      margin-top: 25%;
    }

    #title{
      font-size: 3.5em;
    }
}
